# Core data processing
pandas==2.2.2
numpy==1.26.4

# File formats
pyarrow==15.0.2

# ML / Modeling
scikit-learn==1.4.2

# Experiment tracking
mlflow==2.12.1

# API
flask==3.0.3

# Visualization
matplotlib==3.8.4

# HTTP
requests==2.32.3

# Config
PyYAML==6.0.2

# AWS (optional)
boto3==1.34.122

# Orchestration
prefect==2.19.5

# Critical fix for Prefect dependency
griffe<0.38
pydantic<2

streamlit==1.35.0